In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('SalaryData.csv')

In [ ]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
y= dataset['Salary']

In [ ]:
x= dataset['YearsExperience']

In [ ]:
type(x)

pandas.core.series.Series

In [ ]:
import numpy
X = x.reshape(30,1)

In [ ]:
type(X)

numpy.ndarray

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

# y = b + c x

In [ ]:
#  know : x , y 

# find: c and b

model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
z = model.predict( [[5]] )

In [ ]:
z[0]

73042.01180594407

In [ ]:
from sklearn.externals import joblib
joblib.dump(model, 'salary_model.pk1')

['salary_model.pk1']

In [ ]:
from sklearn.externals import joblib
model = joblib.load("salary_model.pk1")
print("Enter year exp : ", end='')
exp = input()
exp = float(exp)
print("predicted salary : ", model.predict([[exp]])[0])

Enter year exp : 0
predicted salary :  25792.200198668696